/* Mario Mucilli - Codigo :)

/* 1 rem = 10 px */

html {
    font-size: 62.5%;
}

/* Reseteo de espacios a los lados y hacia adentro de las cajas*/
* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(201, 102, 102);
}

.grid-contenedor {
    width: 95%;
    margin: 0 auto;
    font-family: 'Lucirgb(199, 70, 70)Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 50px auto auto auto auto auto auto auto;
    grid-template-areas:
        "header        header"
        "nav           nav"
        "carrusel      carrusel"
        "main           main"
        "main1         main2"
        "main3         main4"
        "main5         main6"
        "trabajos     trabajos"
        "footer        footer";
}


/* CSS HEADER */
.header {
    grid-area: header;
    background-color: rgb(24, 202, 131);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header__img-logo {
    width: 100%;
    display: flex;
    justify-content: center;

}

/* CSS NAV */
/* 
.index__bg-nav {
    background-image: radial-gradient(#a6d3eb, #a6d3eb);
}

.navbar-nav{
    display: flex;
    justify-content: center;
    }

    .nav-link {
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
        font-size: var(--bs-nav-link-font-size);
        font-weight: var(--bs-nav-link-font-weight);
        color: var(--bs-nav-link-color);
        text-decoration: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

    }
     */


.nav {
    grid-area: nav;
    background-color: rgb(234, 234, 38);
    display: flex;
    align-content: center;
    justify-content: center;

}

ul {
    display: flex;
    flex-wrap: wrap;

}

.nav-li {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    list-style-type: none;
    font-weight: 400;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 80%;
    height: 100%;

}

.nav-li a {
    color: rgb(15, 191, 38);
    font-size: 1.3rem;
    text-decoration: none;
    background-color: #1b2105;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
}

.nav-li a:hover {
    background-color: rgb(129, 121, 1);
    color: rgb(24, 4, 4);
}

/* CSS CARRUSEL */

.carrusel {
    grid-area: carrusel;
}

/* CSS MAIN */

.main {
    background-color: #099488;
    grid-area: main;
}

.main_MQ_Mobile{
    display: none;
}

.card-h-img-main1 {
    grid-area: main1;
    background-color: #aee89d;
    width: 100%;
    display: flex;
    justify-content: center;


}

.card-h-img-main4 {
    grid-area: main4;
    background-color: #aee89d;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-h-img-main5 {
    grid-area: main5;
    background-color: #aee89d;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-card-h {
    object-fit: contain;
}

.card-h-text-main2 {
    grid-area: main2;
}

.card-h-text-main3 {
    grid-area: main3;
}

.card-h-text-main6 {
    grid-area: main6;
}


/* CSS INDEX-TRABAJOS */

.tiradetrabajos {
    grid-area: trabajos;
    display: flex;
    flex-wrap: wrap;
}

.trabajos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.card-v-img {
    width: 23%;

}

.imgtrabajosmobile {
    display: none;
}

.imgtrabajosgrande {
    display: flex;
}


/* CSS INDEX-FOOTER */

.footer {
    grid-area: footer;
    background-color: rgb(104, 96, 96);
}

.footer__contendor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 1rem 0rem 1rem;
}

.footer__caja {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
    align-items: center;
}

.footer__logo {
    width: 60%;
    display: flex;
    align-self: center;

}

.footer__derechos {
    text-align: center;
    padding: 1rem;
}

.footer__caja li {
    color: antiquewhite;
    list-style-type: none;
}

.footer__caja h5 {
    font-size: 1.8rem;
    color: antiquewhite;
    line-height: 1.28;

}

.footer__caja p {
    font-size: 1rem;
    color: antiquewhite;
    line-height: 1.28;
}

.footer__caja a {
    color: antiquewhite;
    text-decoration: none;
}

.footer__derechos p {
    font-size: 1rem;
    color: antiquewhite;
    line-height: 1.28;
}

/* Estilos de textos   */

h1 {
    font-size: 2.5rem;
    color: rgb(226, 134, 43);
    text-align: center;
    margin: .5rem 0rem .5rem 0rem;
}

h2 {
    font-size: 2rem;
    color: blanchedalmond;
    padding: 0rem 0rem 0rem 1.5rem;
}

h3 {
    font-size: 1.8rem;
    color: coral;
    margin: 1.5rem 0rem 0rem 0rem;
}

h4 {
    font-size: 1.5rem;
    margin: 1.5rem 0rem 0rem 0rem;
}

h5 {
    font-size: 1.3rem;
    color: rgb(84, 54, 11);
    padding: 1.5rem 0rem 1.5rem 0rem;

}

p {
    font-size: 1rem;
    color: rgb(84, 54, 11);
    padding: 1.5rem 0rem 1.5rem 0rem;

}

.tiradetrabajos h3 {
    color: darkgreen;
}

.textoderecha {
    text-align: right;
}


/* MEDIA QUERIES */


/* MEDIAS QUERIS INDEX - Tamaño L*/

@media screen and (max-width: 510px) {

    body {
        background-color: aqua;
    }

    .nav {
        grid-area: nav;
        background-color: rgb(158, 69, 190);
        display: flex;
        align-content: center;
        justify-content: center;

    }

    h1 {
        font-size: 1.8rem;
        text-align: center;
        margin: .25rem 0rem .25rem 0rem;
    }

    h2 {
        font-size: 1.6rem;
        color: blanchedalmond;
        padding: 0rem 0rem 0rem 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
        margin: 1rem 0rem 0rem 0rem;
    }

    h4 {
        font-size: 1.3rem;
        margin: 1rem 0rem 1rem 0rem;
    }

    h5 {
        font-size: 1.5rem;
        color: blanchedalmond;
        padding: 1rem 0rem 1rem 0rem;

    }

    p {
        font-size: 1rem;
        line-height: 1.2;
    }

    .card-v-img {
        margin: 1%;
        min-width: 100%;


    }


    .imgtrabajosmobile {
        display: flex;
    }

    .imgtrabajosgrande {
        display: none;
    }
}


/* MEDIAS QUERIS INDEX - Tamaño S*/

@media screen and (max-width: 360px) {

    .grid-contenedor {
        grid-template-columns: repeat(1fr);
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
            "header"
            "nav"
            "carrusel"
            "main"
            "main1"
            "trabajos"
            "footer";
    }

    body {
        background-color: rgb(220, 223, 188);
    }

    .nav {
        grid-area: nav;
        background-color: rgb(227, 93, 9);
        display: flex;
        align-content: center;
        justify-content: center;


    }

    .carrusel {
        grid-area: carrusel;
    }

    /* .main {
        background-color: #0a675f;
        grid-area: main;
    }


    .main_MQ_Mobile{
        grid-area: main1;
    } */

    /* .card-h-img-main1 {
        grid-area: main1; */

    /* .card-h-img-main4 {
        grid-area: main1;
    }

     */
    /*  
    .card-h-img-main5 {
        grid-area: main1;

    } */
    /*  
    .img-card-h {
        width: 50%;
    } */

    /* .card-h-text-main2 {
        grid-area: main1;
    } */

    /* .card-h-text-main3 {
        grid-area: main1;
    } */

    /* .card-h-text-main6 {
        grid-area: main1;

    } */





    .tiradetrabajos {
        grid-area: trabajos;
    }

    .trabajos {
        width: 100%;
        background-color: #aee89d;
    }


    .footer {
        grid-area: footer;
        background-color: rgb(104, 96, 96);
    }



}
