/* Mario Mucilli - Codigo :)

/* 1 rem = 10 px */

html {
    font-size: 62.5%;
}

/* Reseteo de espacios a los lados y hacia adentro de las cajas*/
* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
}

.grid-contenedor {
    width: 90%;
    margin: 0 auto;
    font-family: 'Lucirgb(199, 70, 70)Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px 50px auto auto auto auto auto auto 350px;
    grid-template-areas:
        "header        header"
        "nav           nav"
        "carrusel      carrusel"
        "main           main"
        "main1         main2"
        "main3         main4"
        "main5         main6"
        "trabajos     trabajos"
        "footer        footer";
}


/* CSS HEADER */
.header {
    grid-area: header;
    background-color: rgb(221, 207, 13);
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header__img-logo {
    width: 100%;
    display: flex;
    justify-content: center;

}

/* CSS NAV */

.nav {
    grid-area: nav;
    background-color: rgb(72, 111, 145);
    display: flex;
    align-content: center;
    justify-content: center;

}

ul {
    display: flex;
    flex-wrap: wrap;

}

.nav-li {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    list-style-type: none;
    font-weight: 400;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 80%;
    height: 100%;

}

.nav-li a {
    color: rgb(15, 191, 38);
    font-size: 1.3rem;
    text-decoration: none;
    background-color: #1b2105;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .5rem;
}

.nav-li a:hover {
    background-color: rgb(129, 121, 1);
    color: rgb(24, 4, 4);
}

/* CSS CARRUSEL */

.carrusel {
    grid-area: carrusel;
}

/* CSS MAIN */

.main {
    background-color: #099488;
    grid-area: main;
}


.card-h-img-main1 {
    grid-area: main1;
    background-color: #aee89d;
    width: 100%;
    display: flex;
    justify-content: center;

    
}

.card-h-img-main4 {
    grid-area: main4;
    background-color: #aee89d;
    width: 100%;
    display: flex;
    justify-content: center; 
}

.card-h-img-main5 {
    grid-area: main5;
    background-color: #aee89d;
    width: 100%;
    display: flex;
    justify-content: center; 
}

.img-card-h {
    width: 75vh;
}

.card-h-text-main2 {
    grid-area: main2;
    background-color: rgb(140, 227, 53);
    /* border: rgb(16, 132, 6) solid 2rem; */
}

.card-h-text-main3 {
    grid-area: main3;
    background-color: rgb(228, 114, 32);
    /* border: rgb(140, 43, 200) solid 2rem; */
}

.card-h-text-main6 {
    grid-area: main6;
    background-color: rgb(140, 227, 53);
    /* border: rgb(111, 87, 8) solid 2rem; */
}

/* CSS INDEX-TRABAJOS */

.trabajos {
    grid-area: trabajos;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;

}

.card-v-img {
    margin: 10px;
    min-width: 100px;
    width: 20vw;


}

.tiradetrabajos {
    grid-area: trabajos;
    display: flex;
    flex-wrap: wrap;

}

/* CSS FOOTER */

.footer {
    grid-area: footer;
    background-color: rgb(104, 96, 96);



}

.footer__contendor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 6rem 0rem 6rem;
}

.footer__caja {
    display: flex;
    flex-direction: column;
    width: 340px;
    text-align: center;

}

.footer__logo {
    width: 50%;
    display: flex; 
    align-self:center;

}

.footer__derechos {
    text-align: center;
    padding: 1rem;
}

footer p {
    color: antiquewhite;
    font-size: 1.3rem;
}

footer a {
    color: antiquewhite;
    font-size: 1.3rem;
    text-decoration: none;
}

.footer__derechos p {
    color: antiquewhite;
    font-size: 1.3rem;

}

.footer__caja li {
    color: antiquewhite;
    font-size: 1.3rem;
    list-style-type: none;
}









/* ORDENAR ORDENAR ORDENAR ORDENARORDENAR ORDENAR ORDENAR ORDENARORDENAR ORDENAR ORDENAR ORDENAR */


/* CSS DEL FORMS */

.form-input {
    margin: 10px;
    display: flex;
    width: 100%;

}

.form-textarea {
    margin: 10px;
    display: flex;
    width: 100%;
    height: 10rem;

}


/* Estilos de textos   */

h1 {
    font-size: 2.5rem;
    color: rgb(226, 134, 43);
    text-align: center;
    margin: .5rem 0rem .5rem 0rem;
}

h2 {
    font-size: 2.2rem;
    color: blanchedalmond;
    padding: 0rem 0rem 0rem 1.5rem;
}

h3 {
    font-size: 2rem;
    margin: 1.5rem 0rem 0rem 0rem;
}

h4 {
    font-size: 1.8rem;
    margin: 1.5rem 0rem 0rem 0rem;
}

h5 {
    font-size: 1.5rem;
    color: blanchedalmond;
    padding: 1.5rem 0rem 1.5rem 0rem;

}

p {
    font-size: 1.3rem;
    color: rgb(16, 24, 255);
    line-height: 1.2;
    margin: 1.5rem 0rem 0rem 0rem;
}


/* Pages CONTACTO */

.section-contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-contacto h2 {
    padding: 1.5rem 0rem 1.5rem 1.5rem;
}

.mapa {
    background-color: #032a64;
    padding: 1rem 6rem 2rem 6rem;
}


.formulario {
    background-color: #444;
    padding: 1rem 6rem 2rem 6rem;
}

.formulario p {
    color: blanchedalmond;
}

.section-contacto h2 {
    padding-left: 0rem;
}

label {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.boton {

    background-color: #b5b5b5;
    padding: 0.5rem 2.5rem;
    border-radius: 1rem;
}


.boton:hover {
    background-color: aqua;
}

/* MEDIAS QUERIS INDEX - Tamaño L*/

@media screen and (max-width: 948px) {

    body {
        background-color: rgb(31, 151, 31);
    }

    h1 {
        font-size: 1.8rem;
        text-align: center;
        margin: .25rem 0rem .25rem 0rem;
    }

    h2 {
        font-size: 1.6rem;
        color: blanchedalmond;
        padding: 0rem 0rem 0rem 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
        margin: 1rem 0rem 0rem 0rem;
    }

    h4 {
        font-size: 1.3rem;
        margin: 1rem 0rem 1rem 0rem;
    }

    h5 {
        font-size: 1.5rem;
        color: blanchedalmond;
        padding: 1rem 0rem 1rem 0rem;

    }

    p {
        font-size: 1rem;
        line-height: 1.2;
    }

    .card-v-img {
        margin: 10px;
        min-width: 100px;
        width: 30vw;
    }

}

/* MEDIAS QUERIS INDEX - Tamaño M*/

@media screen and (max-width: 730px) {

    .grid-contenedor {
        width: 90%;
        margin: 0 auto;
        font-family: 'Lucirgb(199, 70, 70)Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 150px 75px auto auto auto auto auto auto 650px;
        grid-template-areas:
            "header        header"
            "nav           nav"
            "carrusel      carrusel"
            "main           main"
            "main1         main2"
            "main3         main4"
            "main5         main6"
            "trabajos     trabajos"
            "footer        footer";
    }


    body {
        background-color: rgb(169, 203, 30);
    }


    .nav-li {
        height: 160%;
    }



    h1 {
        font-size: 1.8rem;
        text-align: center;
        margin: .25rem 0rem .25rem 0rem;
    }

    h2 {
        font-size: 1.6rem;
        color: blanchedalmond;
        padding: 0rem 0rem 0rem 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
        margin: 1rem 0rem 0rem 0rem;
    }

    h4 {
        font-size: 1.3rem;
        margin: 1rem 0rem 1rem 0rem;
    }

    h5 {
        font-size: 1.5rem;
        color: blanchedalmond;
        padding: 1rem 0rem 1rem 0rem;

    }

    p {
        font-size: 1rem;
        line-height: 1.2;
    }

    .card-v-img {
        margin: 10px;
        min-width: 100px;
        width: 30vw;
    }


}