// estilos de dispositivo desktop

/* Estilos de textos   */
// Dispositivo Desktop//

h1 {
    font-size: 2.5rem;
    color: rgb(226, 134, 43);
    text-align: center;
    margin: .5rem 0rem .5rem 0rem;
}

h2 {
    font-size: 2rem;
    color: blanchedalmond;
    padding: 0rem 0rem 0rem 1.5rem;
}

h3 {
    font-size: 1.8rem;
    color: coral;
    margin: 1.5rem 0rem 0rem 0rem;
}

h4 {
    font-size: 1.5rem;
    margin: 1.5rem 0rem 0rem 0rem;
}

h5 {
    font-size: 1.3rem;
    color: rgb(84, 54, 11);
    padding: 1.5rem 0rem 1.5rem 0rem;

}

p {
    font-size: 1.2rem;
    color: rgb(84, 54, 11);
    padding: 1.5rem 0rem 1.5rem 0rem;

}

.tiradetrabajos h3 {
    color: darkgreen;
}

.textoderecha {
    text-align: right;
}

