/* 1 rem = 10 px */

html {
    font-size: 62.5%;
}

/* Reseteo de espacios a los lados y hacia adentro de las cajas*/
* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $background-body;
}

/* CSS HEADER */
.header {
    grid-area: header;
    background-color: $background-header;
    background-image: url(../img/Img_header.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header_logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__img-logo {
    width: 75%;

}

.header a {
    display: flex;
    justify-content: center;
}




.nav {
    grid-area: nav;
    background: linear-gradient(
            $background-nav-degra-bordes 0%,
            $background-nav-degra-centro,
            $background-nav-degra-centro,
            $background-nav-degra-centro,
            $background-nav-degra-centro,
            $background-nav-degra-bordes 100%);
            
            
    display: flex;
    align-content: center;
    justify-content: center;

}

ul {
    display: flex;
    flex-wrap: wrap;

}

.nav-li {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    list-style-type: none;
    font-weight: 400;
    margin-bottom: 0px;
    padding-left: 0px;
    width: 95%;
    height: 100%;

}

.nav-li a {
    color:$color-nav-text;
    font-size: 1.3rem;
    text-decoration: none;
    transition: 1s;
    padding-left: 10px;
    padding-right: 10px;
    }

.nav-li a:hover {
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    background: linear-gradient(90deg, rgba(251,255,0,1) 0%, rgba(32,32,32,0) 5%, rgba(32,32,32,0) 95%, rgba(251,255,0,1) 100%);


}

////// main
.main {
    grid-area: main;
    background-color: $background-main;
}

/* CSS - Cards Horizontales - ya que se repiten en 2 htmls lo planteo aca */
/* CSS MAIN */

.card-h-img {
    // width: 80%;
    display: flex;
    justify-content: center;
    padding:1rem;

}

.card-h-grid-padding_card {
    padding: 1rem;
    opacity: 0.7;
}


/* CSS INDEX-FOOTER */

.footer {
    grid-area: footer;
    background-color: $background-footer
}

.footer__contendor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2rem;
}

.footer__caja {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    align-items: center;
}

.footer__logo {
    width: 100px;
    display: flex;
    align-self: center;

}

.footer__derechos {
    text-align: center;
    padding: 1rem;
}

.footer__caja li {
    color: $color-footer-text;
    list-style-type: none;
}

.footer__caja h5 {
    font-size: 1.8rem;
    color: $color-footer-text;
    line-height: 1.28;

}

.footer__caja p {
    font-size: 1rem;
    color: $color-footer-text;
    line-height: 1.28;
}

.footer__caja a {
    color: $color-footer-text;
    text-decoration: none;
}

.footer__derechos p {
    font-size: 1rem;
    color: $color-footer-text;
    line-height: 1.28;
}