// La variable siempre comienza con signo $

$background-body: rgb(254, 252, 252);
$background-header: #fbff00;
$background-nav: #ccd60a;
$background-main: #103522;
$background-footer: rgb(25, 25, 25);
$background-trabajos: rgb(117, 198, 212);
$background-sdds: rgb(206, 212, 117);



$color-text-footer: rgb(255, 255, 255)
