// La variable siempre comienza con signo $ //

$background-body: rgb(25,25,25);
$background-header: #fbff00;

$background-nav-degra-bordes: #7a7a7a;
$background-nav-degra-centro: #202020;


$background-main: rgb(25, 25, 25);
$background-trabajos: #fbff00;
$background-footer: rgb(10,10,10);

$color-nav-text: #ffffff;
$color-footer-text: rgb(240, 240, 240);

$color-text-h1: #ffffff;
$color-text-h2: #ffffff;
$color-text-h3: rgb(25,25,25);
$color-text-h4: #ffffff;
$color-text-h5: #ffffff;
$color-text-h6: #ffffff;
$color-text-p: #ffffff;

$color-trabajos-emergente: rgba($color: #1f3a58, $alpha: .85);

