.grid-contenedor {
    width: 100%;
    margin: 0 auto;
    font-family: 'Lucirgb(199, 70, 70)Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 40px auto auto auto auto auto auto auto;
    grid-template-areas:
        "header        header"
        "nav           nav"
        "carrusel      carrusel"
        "main           main"
        "main1         main2"
        "main3         main4"
        "main5         main6"
        "trabajos     trabajos"
        "footer        footer";
}

/* CSS CARRUSEL */

.carrusel {
    grid-area: carrusel;
}

/* CSS MAIN */

// .main {
//     background-color: $background-main;
//     grid-area: main;
// }

.card-h-img {
    width: 100%;
    display: flex;
    justify-content: center;
}


.main01 {
    grid-area: main1;
}

.main04 {
    grid-area: main4;
}

.main05 {
    grid-area: main5;
}


.img-card-h {
    object-fit: contain;
}

.main02 {
    grid-area: main2;
}

.main03 {
    grid-area: main3;
}

.main06 {
    grid-area: main6;
}


/* CSS INDEX-TRABAJOS */

.tiradetrabajos {
    grid-area: trabajos;
    display: flex;
    flex-wrap: wrap;
    background-color: $background-trabajos;
}

.trabajos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.card-v-img {
    width: 16%;
}

.imgtrabajosmobile {
    display: none;
}

.imgtrabajosgrande {
    display: flex;
}