// Css de page Equipos

.grid-contenedor-equipos {
    width: 100%;
    margin: 0 auto;
    font-family: 'Lucirgb(199, 70, 70)Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 40px auto auto auto auto auto auto auto;
    grid-template-areas:
        "header        header"
        "nav           nav"
        "main           main"
        "main1         main2"
        "main3         main4"
        "main5         main6"
        "main7         main8"
        "footer        footer";
}

/* CSS MAIN */

.main {
    background-color: #099488;
    grid-area: main;
}


.card-h-img-main1 {
    grid-area: main1;
    background-color: #aee89d;
    width: 100%;
    display: flex;
    justify-content: center;

}

.card-h-img-main4 {
    grid-area: main4;
    background-color: #aee89d;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-h-img-main5 {
    grid-area: main5;
    background-color: #aee89d;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-h-img-main8 {
    grid-area: main8;
    background-color: #aee89d;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-card-h {
    object-fit: contain;
}

.card-h-text-main2 {
    grid-area: main2;
}

.card-h-text-main3 {
    grid-area: main3;
}

.card-h-text-main6 {
    grid-area: main6;
}

.card-h-text-main7 {
    grid-area: main7;
}


